﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
  font-family: 'Arial Narrow Normal';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../font/ArialNarrow/ArialNarrowNormal.TTF");
  src: url("../font/ArialNarrow/ArialNarrowNormal.TTF") format("truetype"); }

  @font-face {
    font-family: 'Arial Narrow Italics';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url("../font/ArialNarrow/ArialNarrowItalics.ttf");
    src: url("../font/ArialNarrow/ArialNarrowItalics.ttf") format("truetype"); }

    @font-face {
      font-family: 'Arial Narrow Bold';
      font-style: normal;
      font-weight: normal;
      font-display: auto;
      src: url("../font/ArialNarrow/ArialNarrowBold.TTF");
      src: url("../font/ArialNarrow/ArialNarrowBold.TTF") format("truetype"); }

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 13px;
}
@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  /*font-family: 'Arial Narrow Normal';*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*Mis estilos*/
.bg-color-sidebar {
  background-color: #222222 !important;
}

.kt-menu__link [class*=" flaticon2-"] {
  color: #ffffff !important;
}

.kt-menu__link.kt-menu__toggle:hover{
  background: #4d4d4d !important;
}

.kt-aside .kt-aside__footer .btn i {
  color: rgb(222,218,207);
}

.kt-aside .kt-aside__footer .btn:hover{
  background-color: rgb(85,81,80);
  color: #222222;
}

.kt-aside .kt-aside__footer .btn i:hover{
  background-color: rgb(85,81,80);
}

.kt-aside .kt-aside__footer .btn:hover i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: rgb(222,218,207);
}

.bg-color-navbar{
  color:#222222 !important;
}

.kt-nav .kt-nav__item > .lista-login{
  color: #222222;
}

.kt-nav .kt-nav__item > .lista-login:hover{
  color:rgb(85,81,80);
  
}

.padding-profile{
  padding-left: 18px;
}

.btn-profile {
  background-color: rgb(85,81,80);
  color: #ffffff;
  cursor: pointer;
}

.btn-profile:hover{
  background-color: rgb(222,218,207);
  color: rgb(85,81,80);
}

.kt-rounded-:hover{
  background: #f1f1f1 !important;
}

.kt-link:hover{
  color:rgb(85,81,80) !important; 
  text-decoration-line: rgb(85,81,80) !important;
}

.kt-link:hover:after{
  border-bottom: 1px solid rgb(85,81,80) !important;
}

.colorTituloGrupal{
color: #555150 !important;
}

.kt-aside .kt-aside__footer .btn i {
  font-size: 18px;
}

.head-flex{
  display: flex;
}

.without-padding{
  padding:0px !important;
}

.paddingLeftTitle{
  padding-left: 15px;
}

.button-flex{
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.form-group {
  margin-bottom: 0.8rem;
}

.form-control{
  height: calc(1em + 1rem +2px) !important;
  padding: 0.45rem 0.7rem !important;
}

.own-form-control {
  display: block;
  width: 100%;
  height: calc(1em + 1rem + 2px);
  padding: 0.45rem 0.7rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e5ec;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-xsm{
    padding: 0.5rem 1rem;
    font-size: 0.97rem;
    line-height: 1.2;
    border-radius: 0.2rem;
}

.bg-color-gris{
  color:#555150;
}

.bg-color-button-gris{
  background:#555150 !important;
  color: #ffffff;
}

.bg-color-button-gris:hover{
  color: #1f1f1f;
}

.label-texto{
  margin-top: 8px;
}

.kt-user-card__name{
  color:#222 !important;
}

.cursorPointer{
  cursor: pointer;
}